*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --secondary-color: #0b0b0b;
    --neutral-color: #afafaf;
    --main-color: #ff4c4c;
    --bg-color: #fff9f9;
  }
body{
    font-family: sans-serif;
}

.section-title{
    position: relative;
    text-align: center;
    padding: 21px;
    font-family: "Kiona", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--bg-color);
}

.section-container{
    position: relative;
    width: 100%;
    height: 83vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
    background-image: url("./images/banner.jpg");
    background-position: center;
    background-size: cover;
}
.slider{
    position: absolute;
}
.effect_img_banner{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 87%);
}

.slider-container{
    width: 40%;
    position: relative;
    margin: 0 auto;
    /* overflow: hidden; */
}
.slider-item{
    height: 50vh;
    max-height: 37.5rem;
    
}

.slider-prev{
    animation: arrowPrev .3s;
    animation-timing-function: ease-in-out;
    -webkit-animation: arrowPrev .3s;
}

.slider-next{
    animation: arrowNext .3s;
    animation-timing-function: ease-in-out;
    -webkit-animation:arrowNext .3s;
}

@keyframes arrowPrev{
    0%{opacity:0;
        right:-100%;}
    20%{opacity:0.2;
        right:-80%;}
    40%{opacity:0.4;
        right:-60%;}
    60%{opacity:0.6;
        right:-40%;}
    80%{opacity:0.8;
        right:-20%;}
    100%{right:0%;
        opacity:1;}
}

@keyframes arrowNext{
    0%{opacity:0;
        left:-100%;}
    20%{opacity:0.2;
        left:-80%;}
    40%{opacity:0.4;
        left:-60%;}
    60%{opacity:0.6;
        left:-40%;}
    80%{opacity:0.8;
        left:-20%;}
    100%{left:0%;
        opacity:1;}
}

@-webkit-keyframes arrowPrev{
    0%{opacity:0;
        right:-100%;}
    20%{opacity:0.2;
        right:-80%;}
    40%{opacity:0.4;
        right:-60%;}
    60%{opacity:0.6;
        right:-40%;}
    80%{opacity:0.8;
        right:-20%;}
    100%{right:0%;
        opacity:1;}
}

@-webkit-keyframes arrowNext{
    0%{opacity:0;
        left:-100%;}
    20%{opacity:0.2;
        left:-80%;}
    40%{opacity:0.4;
        left:-60%;}
    60%{opacity:0.6;
        left:-40%;}
    80%{opacity:0.8;
        left:-20%;}
    100%{left:0%;
        opacity:1;}
}

.item-title__container{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgb(0 0 0 / 0%),rgb(0 0 0 / 69%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-background{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}


.arrow{
    position: absolute;
    cursor: pointer;
    z-index: 3;
    font-size: 3rem;
    height: 4rem;
    padding: 0 1.5rem;
    background: #ff000000;
    font-weight: bold;
    color:var(--main-color);
    top: 45%;
    transition: all .2s;
    border: none;
}

.prev-item{
    left:-68px;
}

.next-item:hover, .prev-item:hover{
    color:rgba(244, 84, 84, 0.8);
}

.prev-item:after{
    content:"<"
}

.next-item{
    right: -68px;
}

.next-item:after{
    content:">"
}


.pagination {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    gap: 1rem;
    top: 0;
    list-style: none;
    padding: 2rem;
    align-items: flex-end;
    justify-content: center;
}

.dot {
    border: none;
    background: var(--bg-color);
    padding: 0.4rem;
    font-size: 0rem;
    border-radius: 3.125rem;
}

.dot-active{
    background: var(--main-color);
}

@media (max-width:1024px){


}

@media (max-width:768px){
html{
    font-size: 12px;
}

}

@media (max-width:480px){
    .item-title__title, .arrow{
        font-size: 2.5rem;   
    }
}



